<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
	
 <connectionStrings>
	 <add name="CONEXION"
			connectionString="Server=localhost;Port=3306;Database=INSTAR_LC;Uid=root;Pwd=12piña;"
			providerName="MySql.Data.MySqlClient" />

	 <add name="practica_conexion_DDBB.Properties.Settings.INSTAR_LCConnectionString"
		  connectionString="Server=localhost;Port=3306;Database=INSTAR_LC;Uid=root;Pwd=12piña;"
		  providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>